.searchpage-container {
    background-image: url('../../assets/search-image.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 100%;


        .logo {
            // margin: 40px;
            margin-right: 50px;
            margin-top: 35px;
            height: 55px;
            width: 75px;

        }

    }

    .search-bar {
        margin-top: 55px;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        // margin-left: 250px;


    }

    .search-result {
        background-color: white;
        height: 500px;
        width: 50%;
        margin-top: 13px;
        padding: 20px;

        .category-span {
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
            padding-top: 50px;
        }

        .category {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0px;

        }
    }

    .suggetions {
        .popular-suggetions {
            font-size: 20px;
            font-weight: bold;
            margin-top: 40px;
            padding-top: 50px;

        }

        .suggetions-list {
            margin-top: 20px;
           
        }

        // .suggetions-list br {
        //     padding: 40px;
        //     display: block;
        // }
    }

}