.searchpage-container {
    background-image: url('../../assets/search-image.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 100%;


        .logo {
            // margin: 40px;
            margin-right: 50px;
            margin-top: 35px;
            height: 55px;
            width: 75px;

        }

    }

    .search-bar {
        margin-top: 55px;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;


    }

  

    

}